.review-card-container {
  width: 100%;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  background-color: #6C6C6C;
  border-radius: 10px; 

  .username-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 0 15px 20px;
    .username-review {
      color: #FFF;
      font-size: 1rem;
    }
  }

  .review-text-container {
    width: 96%;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 0 auto;
    padding: 12px;

    .review-text {
      margin-top: 10px;
      color: #9E9E9E;
    }
  }
}