.filter-container { 
  padding: 5px 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .movie-list-container {
    margin: 20px ;
  }
  
}
@media (min-width: 768px) {
  .movie-list-container {
    margin: 40px ;
  }  
}

@media (min-width: 1200px) {
  .filter-container {    
    padding: 15px 20px;
  } 
}
